<a href="https://colab.research.google.com/github/PalidaY/customer_analysisDS/blob/main/customeranalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Install

In [ ]:
! pip install flask_ngrok
! pip install flask_cors
! pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: flask_ngrok in /usr/local/lib/python3.7/dist-packages (0.0.25)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.7/dist-packages (from flask_ngrok) (1.1.4)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from flask_ngrok) (2.23.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (7.1.2)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (1.0.1)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (1.1.0)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.8->flask_ngrok) (2.0.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (1.24.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: flask_cors in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: Flask>=0.9 in /usr/local/lib/python3.7/dist-packages (from flask_cors) (1.1.4)
Requirement already satisfied: Six in /usr/local/lib/python3.7/dist-packages (from flask_cors) (1.15.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.9->flask_cors) (7.1.2)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.9->flask_cors) (1.0.1)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.9->flask_cors) (1.1.0)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.9->flask_cors) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.9->flask_cors) (2.0.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [ ]:
!gdown --id 1-QLic6ts30lIW2A2uAECDBBrCz9oYw80
!gdown --id 1yHUIFCq8JuoZABlxSVKUjg820frudI9H

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1-QLic6ts30lIW2A2uAECDBBrCz9oYw80
To: /content/2020-Feb.csv
100% 489M/489M [00:06<00:00, 73.3MB/s]
/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1yHUIFCq8JuoZABlxSVKUjg820frudI9H
To: /content/2020-Jan.csv
100% 502M/502M [00:10<00:00, 50.1MB/s]

#Prepare Dataframe

In [ ]:
import numpy as np 
import pandas as pd 
from IPython.display import display, Markdown, Latex
import plotly.express as px
import os
import random

In [ ]:
# Read each of the csv files
df=pd.read_csv('2020-Feb.csv')
df.drop('category_code',  axis='columns', inplace=True)
df.drop('user_session',  axis='columns', inplace=True)
df.drop('category_id',  axis='columns', inplace=True)
df.drop('brand',  axis='columns', inplace=True)

In [ ]:
dff=pd.read_csv('2020-Jan.csv')
dff.drop('category_code',  axis='columns', inplace=True)
dff.drop('user_session',  axis='columns', inplace=True)
dff.drop('category_id',  axis='columns', inplace=True)
dff.drop('brand',  axis='columns', inplace=True)

In [ ]:
slist = df.to_dict('records')
alist = dff.to_dict('records')

In [ ]:
datadf=[]
datadff =[]
for i in range(10000):
  datadf.append(random.choice(slist))
  datadff.append(random.choice(alist))
len(datadf)
len(datadff)

10000

In [ ]:
df = pd.DataFrame(datadf)
dff = pd.DataFrame(datadff)

In [ ]:
df.event_time = pd.to_datetime(df.event_time)
dff.event_time = pd.to_datetime(dff.event_time)

In [ ]:
df3 = pd.concat([df, dff], ignore_index = True, axis = 0)

In [ ]:
df3

                     event_time event_type  product_id  price    user_id
0     2020-02-10 14:50:35+00:00       view     5889122   3.49  612959613
1     2020-02-01 16:54:21+00:00       view     5697497   7.94  609142034
2     2020-02-15 16:18:07+00:00       cart       19162  11.27  577654339
3     2020-02-12 09:48:45+00:00       view     5863526  22.35  351116567
4     2020-02-26 08:47:54+00:00       cart     5726164   3.00  518112341
...                         ...        ...         ...    ...        ...
19995 2020-01-27 16:31:41+00:00       view     5839651   2.37  606459990
19996 2020-01-27 12:39:11+00:00       view     5820728   2.22  606312413
19997 2020-01-07 18:45:00+00:00       view     5896174   4.76  582146098
19998 2020-01-29 04:42:31+00:00       view     5550052   3.00  469768514
19999 2020-01-24 12:40:08+00:00   purchase     5687470   1.90  605453058

[20000 rows x 5 columns]

In [ ]:
#df3[['event_time']] = df3[['event_time']].astype(object).where(df3[['event_time']].notnull(), None)

#Insert to pymongo

In [ ]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://opaliday:poon1262001@cluster0.iuq1h.mongodb.net/?retryWrites=true&w=majority")
client.customerdata.data.drop()
client.customerdata.data.insert_many(df3.to_dict('records'))

#Flask

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask
from flask import request
from flask import jsonify
import pymongo
from flask_cors import CORS, cross_origin
import random 
import pandas as pd
from datetime import datetime



app = Flask(__name__)
CORS(app, support_credentials=True)
run_with_ngrok(app)

#insert data
@app.route('/insert')
def insert_db():
  try:
    event_time  = str(request.args.get("event_time"))
    user_id     = int(request.args.get("user_id"))
    product_id  = int(request.args.get("product_id"))
    price       = float(request.args.get("price"))
    event_type  = str(request.args.get("event_type"))
    
    myquery = {"event_time" : event_time ,"user_id": user_id ,"product_id" : product_id,"price" : price ,"event_type":event_type}
    r=client.customerdata.data.insert_one(myquery)

    return 'Success',200
  except:
    print("Fail")
  return 'Failure',201
  
#Revenue per day
@app.route('/getdata1')  
def getdata1():
  data2=client.customerdata.data.find({'event_type':"purchase"})
  df2=pd.DataFrame(list(data2))
  df2=df2.drop('_id', axis=1)
  #filtered_df=df2[df2['event_type']=="purchase"]
  df2['date'] = df2.event_time.map(lambda x: x.strftime('%Y-%m-%d'))
  df2 = df2.groupby('date').sum()['price'].reset_index()

  ret=dict()
  ret['data']=df2.to_dict(orient='records')
  
  return jsonify(ret)

#Total numbers of event_type
@app.route('/getdata2')  
def getdata2():
  data2=client.customerdata.data.find({})
  df2=pd.DataFrame(list(data2))
  df2=df2.drop('_id', axis=1)
  df2 = df2.groupby('event_type').count()['event_time'].reset_index()

  ret=dict()
  ret['data']=df2.to_dict(orient='records')
  
  return jsonify(ret)

#Revenue per weekday
@app.route('/getdata3')
def getdata3():
  data2=client.customerdata.data.find({'event_type':"purchase"})
  df2=pd.DataFrame(list(data2))
  df2=df2.drop('_id', axis=1)
  #filtered_df['date']=filtered_df['event_time'].dt.date
  df2['date'] = df2.event_time.map(lambda x: x.strftime('%Y-%m-%d'))
  df2['weekday'] = pd.DatetimeIndex(df2['date']).day_name()
  df2 = df2.groupby('weekday').sum()['price'].reset_index()

  ret=dict()
  ret['data'] = df2.to_dict(orient='records')

  return jsonify(ret)  

#Top 10 Purchased Product by UNIQUE User
@app.route('/getdata4')
def getdata4():
  data2=client.customerdata.data.find({'event_type':"purchase"})
  df2=pd.DataFrame(list(data2))
  df2=df2.drop('_id', axis=1)
  #filtered_df=df2[df2['event_type']=="purchase"]
  filtered_df = df2.groupby("product_id").user_id.nunique().reset_index()
  filtered_df = filtered_df.rename(columns={"user_id": "user_buys"})
  filtered_df = filtered_df.sort_values(by='user_buys', ascending=False).reset_index()
  filtered_df = filtered_df.drop(columns=['index'])
  filtered_df = filtered_df[:10]

  ret=dict()
  ret['data'] = filtered_df.to_dict(orient='records')

  return jsonify(ret)

##Top 10 Users who Purchased the Most Number of Items
@app.route('/getdata5') 
def getdata5():
 data2=client.customerdata.data.find({'event_type':"purchase"})
 df2=pd.DataFrame(list(data2))
 df2=df2.drop('_id', axis=1)
 #filtered_df=df2[df2['event_type']=="purchase"]
 filtered_df=df2.groupby("user_id").count()['product_id'].reset_index()
 filtered_df = filtered_df.rename(columns={"product_id": "no_of_purchased_items"})
 filtered_df = filtered_df.sort_values(by='no_of_purchased_items', ascending=False).reset_index()
 filtered_df = filtered_df.drop(columns=['index'])
 filtered_df = filtered_df[:10]

 ret=dict()
 ret['data'] = filtered_df.to_dict(orient='records')

 return jsonify(ret) 

#Rate of cart/view, purchase/cart, and purchase/view of the highest purchase/view product
@app.route('/getdata6') 
def getdata6():
  data2=client.customerdata.data.find({})
  df2=pd.DataFrame(list(data2))
  df2=df2.drop('_id', axis=1)

  filtered_df =  df2.groupby(["product_id", "event_type"]).count()['user_id'].reset_index()
  filtered_df = filtered_df.rename(columns={"user_id": "count"})
  product_event = filtered_df.pivot(index='product_id',columns='event_type',values='count')
  product_event["cart_over_view"] = product_event["cart"] / product_event["view"]
  product_event["purchase_over_cart"] = product_event["purchase"] / product_event["cart"]
  product_event["purchase_over_view"] = product_event["purchase"] / product_event["view"]
  product_event = product_event.sort_values("purchase_over_view", ascending=False)
  product_event = product_event.reset_index()
  product_event = product_event[:1]

  ret=dict()
  ret['data'] = product_event.to_dict(orient='records')

  return jsonify(ret)    

#Customer History
@app.route('/search')
def search2():
  user_id     = int(request.args.get("user_id"))
  ret=dict()
  rows = [row for row in client.customerdata.data.find({"user_id": user_id})]
  if len(rows) == 0:
    print('Not found')
    ret['data'] = [{'event_time':'','event_type':'','product_id':'','price': '','user_id': 'Not found'}]
  else:  
    res =[{'event_time':r['event_time'],'event_type':r['event_type'],'product_id':r['product_id'],'price': r['price'],'user_id':r['user_id']} for r in rows]
    ret['data']= res 
  
  return jsonify(ret)

#Search for product from price range
@app.route('/searchprice')
def searchprice(): 
  pricemin =float(request.args.get("pricemin"))
  pricemax =float(request.args.get("pricemax"))
  res =  client.customerdata.data.find({'price':{'$gte':pricemin,'$lte':pricemax},'event_type':"purchase"}).sort([('price', pymongo.DESCENDING),('user_id', pymongo.ASCENDING)])
  ret=dict()
  rows = [row for row in res]
  if len(rows) == 0:
    print('Not found')
    ret['data'] = [{'event_time':'','event_type':'','product_id':'','price': '','user_id': 'Not found'}]
  else:  
    res =[{'event_time':r['event_time'],'event_type':r['event_type'],'product_id':r['product_id'],'price': r['price'],'user_id':r['user_id']} for r in rows]
    ret['data']= res 

  return jsonify(ret)   

app.run()

#ETC.

In [ ]:
# Top 10 Purchased Product by UNIQUE User
data2=client.customerdata.data.find({'event_type':"purchase"})
df2=pd.DataFrame(list(data2))
df2=df2.drop('_id', axis=1)
#filtered_df=df2[df2['event_type']=="purchase"]
filtered_df = df2.groupby("product_id").user_id.nunique().reset_index()
filtered_df = filtered_df.rename(columns={"user_id": "user_buys"})
filtered_df = filtered_df.sort_values(by='user_buys', ascending=False).reset_index()
filtered_df = filtered_df.drop(columns=['index'])
filtered_df[:10]

   product_id  user_buys
0     5809910          9
1     5700037          6
2     5686925          5
3     5729864          4
4     5816170          4
5     5751422          4
6     5838935          3
7     5761411          3
8     5635098          3
9     5799881          3

In [ ]:
 #Shopping Activities Analysis of the User Purchased the Most Number of Items
 data2=client.customerdata.data.find({'event_type':"purchase"})
 df2=pd.DataFrame(list(data2))
 df2=df2.drop('_id', axis=1)
 #filtered_df=df2[df2['event_type']=="purchase"]
 filtered_df=df2.groupby("user_id").count()['product_id'].reset_index()
 filtered_df = filtered_df.rename(columns={"product_id": "no_of_purchased_items"})
 filtered_df = filtered_df.sort_values(by='no_of_purchased_items', ascending=False).reset_index()
 filtered_df = filtered_df.drop(columns=['index'])
 filtered_df = filtered_df[:10]

In [ ]:
 data2=client.customerdata.data.find({'event_type':"purchase"})
 df2=pd.DataFrame(list(data2))
 df2=df2.drop('_id', axis=1)
 #filtered_df=df2[df2['event_type']=="purchase"]
 filtered_df=df2.groupby("user_id").product_id.nunique().reset_index()
 filtered_df = filtered_df.rename(columns={"product_id": "no_of_purchased_items"})
 filtered_df = filtered_df.sort_values(by='no_of_purchased_items', ascending=False).reset_index()
 filtered_df = filtered_df.drop(columns=['index'])
 filtered_df = filtered_df[:10]
 filtered_df

     user_id  no_of_purchased_items
0  507727824                      3
1  443896766                      3
2   52921857                      2
3  605552924                      2
4  507340736                      2
5  604054530                      2
6  604126373                      2
7  508540179                      2
8  556579890                      2
9  599982248                      2